{% extends 'Blog_App/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
  <h2>Please Login:</h2>

  {% if form.errors %}
    <p>Your username and password didn't match! Please try again.</p>
  {% endif %}

  <form action="{% url 'login' %}" method="POST">{% csrf_token %}
    {{ form|crispy }} <br>
    <input type="submit" value="Login" class='btn btn-primary'>
  </form>
  <button type="button"><a href="{% url 'password-reset' %}">Forgot your password?</a></button>
</div>
{% endblock content %}
